.form {
	@apply inline-flex flex-col max-w-[270px] w-full;
}
.fields {
	@apply flex border-b  border-white w-full;
}
.title {
	@apply md:text-left text-center;
}
.emailField {
	@apply outline-none
	border-none
	w-full
  text-white bg-transparent
	py-1 transition-all duration-300
	md:pr-2
	px-2
	ease-in
  placeholder:text-white;
	&::placeholder {
		font-family: "Tiempos Headline", Impact, Haettenschweiler,
			"Arial Narrow Bold", sans-serif;
	}
}
.required {
	border-color: red;
}
.btn {
	@apply border-none bg-transparent flex justify-center items-center;
	padding: 0 !important;
}
.aboutSubscribe {
	@apply w-full text-[12px] tracking-wide;
}
