@import "./stylesheet.css";
@import "./Tiempos/stylesheet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
*,
*::after,
*::before {
	font-family: "National", sans-serif;
	@apply text-lg font-normal antialiased;
}
html {
	@apply scroll-smooth;
}
body {
	@apply bg-black text-white;
}
::-webkit-scrollbar {
	@apply w-2 bg-black;
}
::-webkit-scrollbar-thumb {
	@apply bg-white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Tiempos Headline", Impact, Haettenschweiler, "Arial Narrow Bold",
		sans-serif;
}
div#__next {
	@apply flex flex-col justify-between min-h-screen;
}
.home-slider {
	position: relative;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 230px;
		background: linear-gradient(180deg, #000000 13.02%, rgba(26, 25, 24, 0) 100%);
		transform: rotate(-180deg);
	}
	.maba-slider-pagination,
	.splide__arrow,
	.maba-slider-page {
		outline: none !important;
		button {
			outline: none !important;
		}
		svg {
			fill: white !important;
			width: 30px !important;
			height: 30px !important;
			stroke: white !important;
		}
	}
	.splide__arrow--next,
	.splide__arrow--prev {
		background-color: transparent !important;
	}
	.splide {
		padding: 0 !important;
	}
	.maba-slider-pagination {
		display: flex !important;
		gap: 5px;
		outline: none !important;
		justify-content: center !important;
		align-items: center !important;
		align-self: center !important;
	}
	.maba-slider-page {
		width: 28px !important	;
		outline: none !important;
		height: 3px !important;
		border-radius: 5px !important;
		background-color: #ffffff22 !important;
		&.is-active {
			background-color: white !important;
		}
	}
}
.testimonials {
	.splide.is-active {
		padding: 0 !important;
	}
	.splide__pagination {
		display: flex !important;
		gap: 5px;
		outline: none !important;
		justify-content: center !important;
		align-items: center !important;
		align-self: center !important;
		bottom: -2rem;
	}
	.splide__pagination__page {
		width: 28px !important	;
		outline: none !important;
		height: 3px !important;
		border-radius: 5px !important;
		background-color: #ffffff44 !important;
		&.is-active {
			background-color: white !important;
		}
	}
}
